@use 'variables' as var;

@use 'bootstrap' as bs;

// Base and custom styles
@use 'base/reset';
@use 'mixins';
@use 'components/header';
@use 'components/footer';

// Custom utilities
@use 'utilities';

// Custom components
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var.$background-body;
}

main {
  flex: 1;
}

.sidebar {
  background-color: var.$background-body;
  color: var.$text-primary-inverse;
}

// Show More Button
#show-more-button[hidden] {
  display: none !important; // Completely hide the button when no more listings
}


// Listing Styles
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
  }

  .text-time {
    font-size: 0.875rem;
  }

  .listing-img {
    width: 37px;
    height: 37px;
    object-fit: cover;
    border-radius: 5px;
  }

  .listing-details {
    width: 100px;
    flex-grow: 1;

    h5 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; // Prevents overflowing long text
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 0.875rem;
      margin-bottom: 1rem;
    }

    ul {
      padding-left: 0;
      list-style: none;

      li {
        font-size: 0.875rem;
        margin-bottom: 0.25rem;
      }
    }
  }

  .btn {
    width: 48%; // Ensures the buttons are evenly spaced below the content
  }

  .btn-success {
    background-color: #28a745;
    border-color: #28a745;

    &:hover {
      background-color: #218838;
      border-color: #1e7e34;
    }
  }

  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;

    &:hover {
      background-color: #5a6268;
      border-color: #545b62;
    }
  }
}




// Styles for smaller screens
@include bs.media-breakpoint-down(lg) {
  .header-buttons {
    display: none;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .footer-btn {
    @include mixins.reset-button-styles();
    display: block;

    i {
      font-size: 1.5rem;
    }
  }

  .listing {
    padding: 1rem;
    gap: 1rem;
  }

  .card {
    padding: 1rem;

    h5 {
      font-size: 1.1rem;
    }
  }

  .btn {
    padding: 0.5rem 1rem;
  }
}

// Styles for larger screens
@include bs.media-breakpoint-up(lg) {
  footer {
    display: none;
  }
  .footer-btn {
    display: none;
  }

  .listing {
    padding: 2rem;
    gap: 2rem;
  }
}